# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables and secrets
.env

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db